/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du body */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #5c7b4a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le contenu du header */
}

/* Contenu du header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center; /* Centre le contenu */
    width: 100%;
}

/* Image du profil dans le header */
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: center; /* Centre les éléments de navigation */
    width: 100%;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Contenu principal */
.main-content {
    max-width: 1500px;  /* Largeur max pour le desktop */
    margin: 40px auto;
    text-align: center;
}

/* Titre principal */
.main-content h1 {
    font-size: 48px;
    color: #5c7b4a;
    margin-bottom: 20px;
}

/* Image principale */
.nanas-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

/* Section textuelle */
.text-content {
    background-color: #f0e7e1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    width: 100%;
    height: auto;
}

/* Sous-titre dans la section textuelle */
.text-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Paragraphe dans la section textuelle */a
.text-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}
